@layer components {
  .hero {
    height: clamp(20rem, 7.472rem + 62.64vw, 37.5rem);
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
      url(../assets/images/hero-image@1x.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .buttonFilters {
    width: 112px;
    min-height: 96px;
    border: solid 1px var(--color-borderButtonColor);
    border-radius: 12px;
    padding: 6px 10px;
    color: var(--color-textPrimary);
    fill: var(--color-textPrimary);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer;
  }

  .buttonFilters:hover {
    border: solid 1px var(--color-borderButtonHoverColor);
  }

  .mainImgPrev {
    height: clamp(13.75rem, 4.205rem + 47.73vw, 40rem);
  }

  .buttonFiltersActive {
    border: solid 1px var(--color-borderButtonHoverColor);
    outline: none;
  }

  .heroFilter {
    height: clamp(9.625rem, -0.05rem + 48.38vw, 58rem);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
  }

  .notActiveNavLink {
    color: #101828;
  }

  .previewPicture {
    width: 292px;
  }
}
