@import 'tailwindcss';
@import './styles/variables.css';
@import './styles/common.css';

svg {
  display: block;
  max-width: 100%;
  flex-shrink: 0;
}

body {
  font-family: 'Inter', sans-serif; /* Основной шрифт */
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #101828;
  margin: 0;
}

@theme {
  /** --- Colors --- */
  --color-textPrimary: #101828;
  --color-textSecondary: #f7f7f7;
  --color-textAccent: #d84343;
  --color-textPlaceholder: #6c717b;
  --color-textMonthPassed: #475467;
  /* --- */
  --color-bgPrimaryColor: #ffffff;
  --color-bgHeaderColor: #f7f7f7;
  --color-bgInputColor: #f7f7f7;
  --color-bgBadgeColor: #f2f4f7;
  /* --- */
  --color-ButtonPrimaryColor: #e44848;
  --color-ButtonPushedColor: #d84343;
  --color-ButtonHoverColor: #ButtonHoverColor;
  /* --- */
  --color-borderButtonColor: #dadde1;
  --color-borderButtonPushedColor: #d84343;
  --color-borderButtonHoverColor: #d84343;
  /* --- */
  --color-heartColor: #e44848;
  --color-starColor: #ffc531;
  --color-darkElementColor: #f2f4f7;
  /** --- Fonts --- */
  --font-mainText: Inter, sans-serif;
  --font-test: Great Vibes, cursive;
}
